<h1 class="quest-h1">Create new Question</h1>
<div class="form-content">
  
<%= form_with model: @question, url: questions_path do |form| %>

<% if @question.errors.any? %>

<div id="modelerrors">
  <% @question.errors.full_messages.each do |msg| %>
  
  <div id="errormsg"><%= msg %></div>
  <% end %>
</div>

<% end %>

<div>
  <%= form.text_field :heading, required: true, placeholder: "Title of your question:", class: "forminput" %>
</div>

<div>
  <%= form.text_area :text, required: true, placeholder: "Form your question...", class: "forminput", id: "markdown-content" %>
</div>

<div>
  <%= form.submit "Create new Question", class: "formbtn" %>
</div>


<% end %>

<button id="preview-markdown" class="formbtn">Preview</button>

</div>

<div id="preview">
</div>

<% content_for :head do %>
  <%= javascript_import_module_tag "preview" %>
<% end %>
