
<h1><%= @question.heading %></h1>

<div>
  <%= @question.text.nil? ? "Not available" : @question.text %>
</div>

<p>Created at <%= @question.created_at %></p>

<small>By <%= link_to @question.user.username, user_path(id: @question.user.id) %></small>

<h2>Categories</h2>

<ul>

<% @question.categories.each do |category| %>

<li><%= category.name %></li>

<% end %>

</ul>

<h2>Answers</h2>

<% @question.answers.each do |answer| %>

<% if answer.helpful %>
<p style="color: green;">
<% else %>
</p>
<% end %>
  <%= answer.text %>
</p>
<%= link_to "Go to answer", answer_path(id: answer.id), method: :patch %>
<small>By <%= answer.user.username %></small>

<hr>

<% if Current.user && (Current.user.id == @question.user.id || Current.user.role.permission >= 4) %>

<%= form_with model: answer, url: answer_path(id: answer.id) do |form| %>

<div>
  <%= form.label :helpful %>
  <%= form.check_box :helpful %>
</div>

<%= form.submit "Update" %>

<% end %>
<% end %>
<% end %>

<% if Current.user %>

<h2>Add an Answer</h2>

<%= form_with model: @answer, url: answers_path do |form| %>

<div>
  <%= form.label :text %>
  <%= form.text_field :text, required: true %>
</div>

<%= hidden_field_tag 'source', 'question' %>
<%= hidden_field_tag 'id', @question.id %>

<div>
  <%= form.submit "Create Answer" %>
</div>


<% end %>

<% else %>

  <%= link_to "Sign in to answer", new_session_path %>

<% end %>
