<div id="qu-sh">
<div id="qu-creator">
<span id="sh-qu-username"><%= link_to @question.user.username, user_path(id: @question.user.id) %></span>

<% if @question.user.verified? %>
    <%= image_tag "VERIFIED.png", class: "verified"%>
<% end %>
<% cache @question do %>

<span class="sh-qu-time"><%= question_date @question %></span><br><br>
</div>




<span id="sh-qu-title"><%= @question.heading %></span>

<div>
  <%= content_tag :div, @question.text, class: "markdown-content" %>
</div>
<div id="sh-qu-cat">
<% @question.categories.each do |category| %>

<%= link_to category.name, category_path(category), class: "sh-qu-cat-items" %>

<% end %>
</div>


<% end %>

<div id="qu-report">

<h3>Report this question</h3>
<%= form_with url: add_report_path do |form|%>
  <input type="number" name="id" value="<%= @question.id %>" hidden>
  <div>
    <%= form.text_field :message, class: "qu-report", placeholder: "Reason for the report:" %>
  </div>
  <div>
    <%= form.submit "Report", class: "qu-report-btn" %>
  </div>
</div>

<% end %>
</div>
<div id="qu-answers">
<h2>Answers</h2>

<% @question.answers.each do |answer| %>
  <% cache answer do %>
  <%= render answer %>
  <% end %>
<% end %>

<% if Current.user %>

<h3>Add an Answer</h3>

<%= form_with model: @answer, url: answers_path do |form| %>

<div>
  <%= form.text_field :text, required: true, class: "qu-report" %>
</div>


<input type="text" name="source" value="question" hidden>
<input type="number" name="id" value="<%= @question.id %>" hidden>

<div>
  <%= form.submit "Create Answer", class: "qu-report-btn" %>
</div>


<% end %>

<% else %>

  <%= link_to "Sign in to answer", new_session_path %>

<% end %>
</div>

