<h1><%= @question.heading %></h1>
<div>
  <%= content_tag :div,  @question.text.nil? ? "Not available" : @question.text, class: "markdown-content" %>
</div>
<p>Created at <%= @question.created_at %></p>
<small>By <%= link_to @question.user.username, user_path(id: @question.user.id) %></small>

<h2>Categories</h2>
<ul>
<% @question.categories.each do |category| %>

<li><%= category.name %></li>

<% end %>
</ul>

<h2>Answers</h2>

<% @question.answers.each do |answer| %>
  <% cache answer do %>
  <%= render answer %>
  <% end %>
<% end %>

<% if Current.user %>

<h2>Add an Answer</h2>

<%= form_with model: @answer, url: answers_path do |form| %>

<div>
  <%= form.label :text %>
  <%= form.text_field :text, required: true %>
</div>


<input type="text" name="source" value="question" hidden>
<input type="number" name="id" value="<%= @question.id %>" hidden>

<div>
  <%= form.submit "Create Answer" %>
</div>


<% end %>

<% else %>

  <%= link_to "Sign in to answer", new_session_path %>

<% end %>


<% content_for :head do %>
  <%= javascript_import_module_tag "markdown_converter" %>
<% end %>
