<div id="qu-sh">
<span id="sh-qu-username"><%= link_to @question.user.username, user_path(id: @question.user.id) %></span><br>


<% cache @question do %>

<span class="sh-qu-time"><%= question_date @question %></span><br><br>
<span id="sh-qu-title"><%= @question.heading %></span>


<div>
  <%= content_tag :div, @question.text, class: "markdown-content" %>
</div>
<h2>Categories</h2>
<ul>
<% @question.categories.each do |category| %>

<li><%= category.name %></li>

<% end %>
</ul>
</div>

<% end %>

<h3>Report</h3>
<%= form_with url: add_report_path do |form|%>
  <div>
    <%= form.text_field :message, placeholder: "Report message" %>
  </div>
  <div>
    <%= form.submit "Report" %>
  </div>


  <input type="number" name="id" value="<%= @question.id %>" hidden>

<% end %>

<h2>Answers</h2>

<% @question.answers.each do |answer| %>
  <% cache answer do %>
  <%= render answer %>
  <% end %>
<% end %>

<% if Current.user %>

<h2>Add an Answer</h2>

<%= form_with model: @answer, url: answers_path do |form| %>

<div>
  <%= form.label :text %>
  <%= form.text_field :text, required: true %>
</div>


<input type="text" name="source" value="question" hidden>
<input type="number" name="id" value="<%= @question.id %>" hidden>

<div>
  <%= form.submit "Create Answer" %>
</div>


<% end %>

<% else %>

  <%= link_to "Sign in to answer", new_session_path %>

<% end %>


<% content_for :head do %>
  <%= javascript_import_module_tag "markdown_converter" %>
<% end %>
