<div class="form">
<div class="form-content">
<h1>Login</h1>

<%= form_with url: sessions_path do |form| %>

<div>
  <%= form.text_field :email, class: "forminput", placeholder: "E-Mail Adress", required: true %>
</div>

<div>
  <%= form.text_field :password, class: "forminput", placeholder: "Password", required: true%>
</div>


<div>
  <%= form.submit "Login", id: "formsignin" %><br>
<% end %>
  <%= button_to "» Or Sign up here «", new_user_path, id: "formbtn", method: :get %>
</div>
</div>
</div>
