<div class="form">
<div class="form-content">
<h1>Login</h1>

<%= form_with url: sessions_path do |form| %>

<div>
<span>E-mail adress</span><br>
  <%= form.text_field :email, required: true %>
</div>

<div>
<span>Password</span><br>
  <%= form.text_field :password, required: true%>
</div>


<div>
  <%= form.submit "Sign in" %>
  <%= button_to "Or Sign Up", users_path, class: "sidebtn", method: :get %>
</div>
</div>
</div>
<% end %>