<h1>Sign in</h1>

<%= form_with url: sessions_path do |form| %>

<div>
  <%= form.label :email %>
  <%= form.text_field :email, required: true %>
</div>

<div>
  <%= form.label :password %>
  <%= form.text_field :password, required: true %>
</div>


<div>
  <%= form.submit "Sign in" %>
</div>


<% end %>