<div class="usersoverview">
<div class="users">
<h2>
  <%= link_to user.username, user_path(id: user.id), class: "userlink" %>
</h2>


<span>Rank: <%= user.rank.name %>
Level: <%= user.role.name %>
  XP: <%= user.xp %>
  </span>

  <!-- idk why emacs highlights the '>' sign as an error because it clearly works-->
  <% if Current.user && (Current.user.role.permission >= 4 || user.id == Current.user.id) %><br>
  <%= link_to "Edit", edit_user_path(id: user.id), class: "editlink" %>
  <% end %>
</p>
</div>
