<div class="users">
<h2 class="usersh2">
  <%= link_to user.username, user_path(id: user.id), class: "userlink" %>
  <% if user.pfp.attached? %>
    <%= image_tag(user.pfp.variant(:thumb)) %>
  <% end %>
  <% if user.verified? %>
    <%= image_tag "VERIFIED.png", class: "users-verified"%>
<% end %>
</h2>


<span>Rank: <%= user.rank.name %><br>
Level: <%= user.role.name %><br>
  XP: <%= user.xp %><br>
  </span>

  <% if Current.user && (Current.user.role.permission >= 4 || user.id == Current.user.id) %><br>
  <%= link_to "Edit", edit_user_path(id: user.id), class: "editlink" %>
  <% end %>
</div>
