<div class="form">
<div class="form-content">
<h1>Create a new User</h1>


<% if @user.errors.any? %>

<div id="modelerrors">
  <% @user.errors.full_messages.each do |msg| %>
  
  <div id="errormsg"><%= msg %></div>
  <% end %>
</div>

<% end %>

<%= form_with model: @user, url: users_path do |form| %>

<div>
  <%= form.text_field :username, placeholder: "Username", class: "forminput",  required: true %>
</div>

<div>
  <%= form.text_field :email, placeholder: "E-Mail Adress", class: "forminput",  required: true %>
</div>

<div>
  <%= form.text_field :password, placeholder: "Password", class: "forminput",  required: true %>
</div>

<div>
  <%= form.text_field :password_confirmation, placeholder: "Repeat password", class: "forminput",  required: true %>
</div>

<div>
  <%= form.submit "Create new User", id: "formsignin" %>
</div>

<% end %>
</div>
</div>
