
<h1>Create a new User</h1>

<%= form_with model: @user, url: users_path do |form| %>

<div>
  <%= form.label :username %>
  <%= form.text_field :username, required: true %>
</div>

<div>
  <%= form.label :email %>
  <%= form.text_field :email, required: true %>
</div>

<div>
  <%= form.label :password %>
  <%= form.text_field :password, required: true %>
</div>

<div>
  <%= form.label :password_confirmation %>
  <%= form.text_field :password_confirmation, required: true %>
</div>

<div>
  <%= form.submit "Create new User" %>
</div>

<% end %>
