<h1 class="title">Profile for <%= @user.username %></h1>

<p>
  Rank: <%= @user.rank.name %><br>
  Level: <%= @user.role.name %><br>
  XP: <%= @user.xp %><br>
  Password: <%= @user.password_digest %>
</p>

<h3>Users Categories</h3>

<% @user.categories.each do |category| %>

<li>
  <%= link_to category.name, category_path(id: category.id) %>
</li>


<% end %>

<h3>Users Questions:</h3>

<ul>

<% @user.questions.each do |question| %>

<li>
  <%= link_to question.heading, question_path(id: question.id) %>
</li>

<% end %>

</ul>
