<h1>New Answer</h1>

<h1><%= @question.heading %></h1>

<div>
  <%= @question.text.nil? ? "Not available" : @question.text %>
</div>

<%= form_with model: @answer, url: answers_path do |form| %>

<div>
  <%= form.label :text %>
  <%= form.text_field :text, required: true %>
</div>

<div>
  <%= form.submit "Create Answer" %>
</div>

<% end %>
