<h1>Create new Rank</h1>

<%= form_with model: @rank, url: ranks_path do |form| %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name, required: true %>
</div>

<div>
  <%= form.label :level %>
  <%= form.number_field :level, required: true %>
</div>

<div>
  <%= form.label :threshold %>
  <%= form.number_field :threshold, required: true %>
</div>

<div>
  <%= form.submit "Create new Rank" %>
</div>

<% end %>
