<h1>Create new Role</h1>

<%= form_with model: @role, url: roles_path do |form| %>

<% if @role.errors.any? %>

<div id="modelerrors">
  <% @role.errors.full_messages.each do |msg| %>
  
  <div id="errormsg"><%= msg %></div>
  <% end %>
</div>

<% end %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name, required: true %>
</div>

<div>
  <%= form.label :permission %>
  <%= form.number_field :permission, required: true, min: 0, max: 5 %>
</div>

<div>
  <%= form.submit "Create new Role" %>
</div>

<% end %>
