<!DOCTYPE html>
<html>
  <head>
    <title>Code2know</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  </head>

  <body>

    <header>
        <h1 class="title">Code2Know</h1>
        <% if !Current.user.nil? %>
        <p id="loggedinas"> Logged in as: <%= Current.user.username %></p>
        <% end %>
    </header>
    <div id="leftsidebar">
    <div id="mainbutton">
      <%= button_to "+ ASK A QUESTION", new_question_path, id: "askbtn", method: :get %>
    </div>
    <div id="buttons">
      <%= button_to "Home", root_path, class: "sidebtn", method: :get %>
      <%= button_to "Find questions", root_path, class: "sidebtn", method: :get %>
      <%= button_to "Categories", categories_path, class: "sidebtn", method: :get %>
      <%= button_to "Users", users_path, class: "sidebtn", method: :get %>
      

    <!--<%= button_to "Weiter", new_user_path, method: :get %>
    <%= link_to "Weiter", new_user_path %>-->

    </div>
    <div id="loginsidebar">
    <!--<button id="loginbtn">Login / Signup</button>-->

    <% if Current.user.nil? %>
    
    <%= button_to "Login", new_session_path, id: "loginbtn", method: :get%>

    <% else %>

    
    <%= button_to "Logout", session_path, id: "loginbtn", method: :delete%>

    <% end %>
    </div>

    </div> 

<div id="content">
  <%= yield %>
</div>

  </body>
</html>
