<!DOCTYPE html>
<html>
  <head>
    <title>Code2know</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "questionsmain", "data-turbo-track": "reload" %>



  </head>

  <body>

    <header>
        <h1 id="title">Code2Know</h1>
    </header>
    <div id="leftsidebar">

    <div id="buttons">
    <button id="askbtn">+ ASK A QUESTION</button>
    <button class="sidebtn">Home</button>
    <button class="sidebtn">Find questions</button>
    <button class="sidebtn">Categories</button>
    <button class="sidebtn">Users</button>

    <!--<%= button_to "Weiter", new_user_path, method: :get %>
    <%= link_to "Weiter", new_user_path %>-->

    </div>
    <div id="loginsidebar">
    <!--<button id="loginbtn">Login / Signup</button>-->

    <% if Current.user.nil? %>

    <%= button_to "Login", new_session_path, id: "loginbtn", method: :get%>

    <% else %>
    
    <%= button_to "Logout", session_path, id: "loginbtn", method: :delete%>

    <% end %>
    </div>

    </div> 
  <%= yield %>

  </body>
</html>
