<!DOCTYPE html>
<html>
  <head>
    <title>Code2Know</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "highlighttheme", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:head) %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="x-icon" href="">
  </head>

  <body>
    <header>
        <h1 class="title">Code2Know</h1>
        <% if !Current.user.nil? %>
        <p id="loggedinas"> Logged in as: <%= Current.user.username %></p>
        <% if Current.user.pfp.attached? %>
          <%= image_tag(Current.user.pfp.variant(:thumb)) %>
        <% end %>
        <% end %>

	<% if flash[:notice] %>
  <div data-controller="info">
    <div id="noticediv" data-action="click->info#close" data-info-target="message">
      <%= image_tag "closeicon.png", class: "info", id: "in" %><span id="notice">
        <%= flash[:notice] %>
    </div>
  </div>
  <% end %>
        

	<% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
<% end %>
    </header>


    <div id="leftsidebar">
    <div id="mainbutton">
      <%= button_to "+ ASK A QUESTION", new_question_path, id: "askbtn", method: :get %>
    </div>
    <div id="buttons">
      <%= button_to "Home", root_path, class: "sidebtn", method: :get %>
      <%= button_to "Find questions", new_search_path, class: "sidebtn", method: :get %>
      <%= button_to "Categories", categories_path, class: "sidebtn", method: :get %>
      <%= button_to "Users", users_path, class: "sidebtn", method: :get %>
    </div>
    <div id="loginsidebar">
    <% if Current.user.nil? %>
    <%= button_to "Login", new_session_path, id: "loginbtn", method: :get%>
    <% else %>
    <%= button_to "Logout", session_path, id: "loginbtn", method: :delete%>
    <% end %>
    </div>
    </div>

    <div data-controller="burger">
      <div id="burger">
        <div class="burgeritem"></div>
        <div class="burgeritem"></div>
        <div class="burgeritem"></div>
        <div id="burgercheckbox" data-action="click->burger#toggle"></div>
      </div>
      <div id="r-menu" data-burger-target="menu">
        <%= button_to "Home", root_path, class: "r-button", method: :get, data: { "action": "click->burger#toggle" } %>
        <%= button_to "Find questions", root_path, class: "r-button", method: :get, data: { "action": "click->burger#toggle" } %>
        <%= button_to "Categories", categories_path, class: "r-button", method: :get, data: { "action": "click->burger#toggle" } %>
        <%= button_to "Users", users_path, class: "r-button", method: :get, data: { "action": "click->burger#toggle" } %>
      </div>
    <div>


    <div id="content">
      <%= yield %>
    </div>

  </body>
</html>
