<!DOCTYPE html>
<html>
  <head>
    <title>Code2Know</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:head) %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="x-icon" href="">
  </head>

  <body>

    <header>
        <h1 class="title">Code2Know</h1>
        <% if !Current.user.nil? %>
        <p id="loggedinas"> Logged in as: <%= Current.user.username %></p>
        <% end %>

	<% if flash[:notice] %>
  <div id="noticediv" onclick="Infoclose()">
  <%= image_tag "closeicon.png", class: "info", id: "in" %><span id="notice"><%= flash[:notice] %>
        </div>
        <% end %>
        

	<% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
        <% end %>
	
    </header>
    <div id="leftsidebar">
    <div id="mainbutton">
      <%= button_to "+ ASK A QUESTION", new_question_path, id: "askbtn", method: :get %>
    </div>
    <div id="buttons">
      <%= button_to "Home", root_path, class: "sidebtn", method: :get %>
      <%= button_to "Find questions", root_path, class: "sidebtn", method: :get %>
      <%= button_to "Categories", categories_path, class: "sidebtn", method: :get %>
      <%= button_to "Users", users_path, class: "sidebtn", method: :get %>
    </div>
    <div id="loginsidebar">
    <% if Current.user.nil? %>
    <%= button_to "Login", new_session_path, id: "loginbtn", method: :get%>
    <% else %>
    <%= button_to "Logout", session_path, id: "loginbtn", method: :delete%>
    <% end %>
    </div>
    </div> 
    <div id="burger">
      <div class="burgeritem"></div>
      <div class="burgeritem"></div>
      <div class="burgeritem"></div>
      <div id="burgercheckbox" onclick="Burger()"></div>
    </div>
    <div id="r-menu">
          <%= button_to "Home", root_path, class: "r-button", method: :get, onclick: "Burger()" %>
      <%= button_to "Find questions", root_path, class: "r-button", method: :get, onclick: "Burger()" %>
      <%= button_to "Categories", categories_path, class: "r-button", method: :get, onclick: "Burger()" %>
      <%= button_to "Users", users_path, class: "r-button", method: :get, onclick: "Burger()" %>
    </div>
    

    <div id="content">
      <%= yield %>
    </div>
  </body>
<script>
let burgerstate = 0;


function Burger(){
    var burger = document.getElementById("burger");
    var items = document.getElementsByClassName("burgeritem");
    var menu = document.getElementById("r-menu");
    if (burgerstate == 0) { 
        menu.style.top = "60px"; 
        burgerstate = 1; 
        //for (var i = 0; i < items.length; i++) {
          //items[i].style.opacity = 0.5;
          //}
        console.log("Burger() 60px");
    } else if (burgerstate == 1) {
        burgerstate = 0; 
        console.log("Burger() -900px");
        menu.style.top = "-500px";
    } else{
      console.log("Burger Fail");
      console.log(burger.style.backgroundColor);
      }
}
function Infoclose(){

      var infopop = document.getElementById("noticediv");
      infopop.style.right = "-900px";
      infopop.style.opacity = 0;
}







</script>

</html>
