<!DOCTYPE html>
<html>
  <head>
    <title>Code2know</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render partial: "shared/flash" %>

    <% if Current.user %>

    <p>Logged in as <b><%= Current.user.username %></b></p>

    <%= button_to "Log out", session_path, method: :delete %>

    <% else %>

    <%= button_to "Log in", new_session_path, method: :get %>
    
    <% end %>

    <hr>
    
    <div>
      <%= yield %>
    </div>
  </body>
</html>
